:root {
	--color-light: hsl(43, 33%, 96%);
	--color-dark: hsl(0, 0%, 11%);
	--color-lightblue: hsl(197, 88%, 69%);
	--background-lightblue: hsla(197, 89%, 69%, 0.671);

	--color-darkblue: hsl(197, 95%, 36%);
	--color-white: hsl(0, 0%, 100%);

	--font-title: "Inter", serif;
	--font-body: "Fira", sans-serif;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter\ Bold.woff2") format("woff2"),
		url("../fonts/Inter\ Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-E0D0;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter\ Regular.woff2") format("woff2"),
		url("../fonts/Inter\ Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-E0D0;
}

@font-face {
	font-family: "Fira";
	src: url("../fonts/Fira\ Sans\ Bold.woff2") format("woff2"),
		url("../fonts/Fira\ Sans\ Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family: "Fira";
	src: url("../fonts/Fira\ Sans\ Regular.woff2") format("woff2"),
		url("../fonts/Fira\ Sans\ Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

body {
	font-family: var(--font-body);
	background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: var(--color-light);
}
/* header */

header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-darkblue);
	height: 6.25rem;
	padding: 1rem;
	position: fixed;
	width: 100vw;
	z-index: 1;
}

header img {
	width: 2rem;
	aspect-ratio: 1/1;
}

@media (min-width: 30rem) {
	header {
		flex-direction: row;
		padding: 2rem 5rem;
	}
	header img {
		width: 5rem;
	}
}

header nav ul {
	display: flex;

	& a {
		padding: 1rem;
		color: var(--color-light);
		font-size: 1rem;
		text-decoration: none;
	}
}

header nav ul a:hover {
	color: var(--color-lightblue);
	font-weight: 700;
}

/* hero */

.hero {
	height: 100vh;
}

.hero img {
	height: 100vh;
	position: absolute;
	aspect-ratio: 3/1;
	object-fit: cover;
}

.hero-info {
	position: relative;
	color: var(--color-light);
	font-size: 1rem;
	padding: 12.5rem 0 0 2.5rem;
}

@media (min-width: 30rem) {
	.hero-info {
		font-size: 2.5rem;
		padding-left: 5rem;
	}
}

.wrapper {
	box-sizing: content-box;
	display: flex;
}

.words {
	overflow: hidden;
}

.words span {
	display: block;
	height: 100%;
	padding-left: 1rem;
	font-size: 1.5rem;
	color: var(--color-lightblue);
	animation: spin_words 5s infinite;
	font-family: var(--font-title);
	font-weight: 700;
}

@media (min-width: 30rem) {
	.words span {
		font-size: 4rem;
	}
}

@keyframes spin_words {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(-200%);
	}
}

/* about */
.about {
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: var(--color-dark);
	background-color: var(--background-lightblue);
}

.about-left {
	height: 50%;
}

@media (min-width: 40rem) {
	.about {
		flex-direction: row;
	}
	.about-left,
	.about-right {
		width: 50%;
		height: 100%;
	}
}
.about-left img {
	height: 100%;
	width: 100%;

	object-fit: cover;
}
.about-right {
	padding: 2rem;
	& h2,
	p {
		padding-bottom: 1rem;
	}
}
@media (min-width: 30rem) {
	.about-right {
		padding: 15rem 2rem;
	}
}

.language {
	display: flex;
	align-items: center;
	& h3 {
		width: 30%;
	}
}
.loader {
	width: 70%;
	background-color: gray;
	height: 5px;
	border-radius: 5px;
}

.slider-80 {
	width: 80%;
	height: 5px;
	border-radius: 5px;
}

.slider-70 {
	width: 70%;
	height: 5px;
	border-radius: 5px;
}

.slider {
	background-color: var(--color-darkblue);
}

/* all projects */

.projects {
	width: 100%;
	padding: 2rem;
	background-color: var(--color-light);
}

.projects h2 {
	padding-bottom: 2rem;
}

.project_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 3rem;
}

.project_list li {
	width: 100%;
}

@media (min-width: 48rem) {
	.project_list li {
		width: 45%;
	}
}

@media (min-width: 64rem) {
	.project_list li {
		width: 30%;
	}
}

.cards {
	width: 100%;
	display: block;
	border: solid 2px var(--color-darkblue);
	border-radius: 0.625rem;
	background-color: var(--color-lightblue);
	filter: drop-shadow(5px 5px 4px var(--color-darkblue));
	color: var(--color-light);
	text-decoration: none;
}

.top_card img {
	border-radius: 0.625rem 0.625rem 0 0;
	width: 100%;
	aspect-ratio: 2/1;
	object-fit: cover;
}

.bottom_card {
	padding: 1rem;
}

.detail {
	top: 6.25rem;
	width: 100%;
	background-color: var(--color-light);
	position: fixed;
	right: -100vw;
	height: 100vh;
	padding: 5rem 2rem;
	overflow-y: scroll;
	border-left: solid 2px var(--color-darkblue);
	transition: right 0.5s ease-in-out;
	& p {
		padding-bottom: 2rem;
	}
}

@media (min-width: 48rem) {
	.detail {
		width: 50%;
		right: -50%;
	}
}

.open {
	right: 0;
}

.btn {
	z-index: 2;
	background-color: var(--color-light);
	border: solid 2px var(--color-darkblue);
	color: var(--color-darkblue);
	padding: 0.25rem 0.5rem;
	margin-bottom: 2rem;
}

.detail-top {
	width: 100%;
	padding-bottom: 2rem;
}
.detail-bottom a {
	color: var(--color-darkblue);
}

@media (min-width: 48rem) {
	.small {
		width: 50%;

		& .project_list li {
			width: 45%;
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: var(--color-darkblue);
	color: var(--color-light);
	padding: 2rem;
	text-align: center;
}
