header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 5rem;
	background-color: var(--color-lightblue);
}

@media (min-width: 768px) {
	header {
		flex-direction: row;
	}
}

header img {
	width: 5rem;
	aspect-ratio: 1/1;
}

header img:hover {
	background-color: aliceblue;
}

header nav ul {
	display: flex;

	& a {
		padding: 1rem;
		color: var(--color-dark);
		font-size: 1rem;
		text-decoration: none;
	}
}

header nav ul a:hover {
	color: var(--color-light);
	font-weight: 700;
}
